*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menu-section .menu {
    text-align: center;
    font-size: 2rem;
    padding: 10px 0 30px;
    background-color:darksalmon;
    color: white;
}
#menu-section .menu-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    background-color: darksalmon;
}
#menu-section .menu-list .menu-item {
    width: calc(100% / 3 - 32px);
    color: white;
    text-align: center;
}
#menu-section .menu-list .menu-item .menu-pic {
    width: 60%;
    height: 60%;
    border-radius: 30px;
}
#menu-section .menu-list .menu-item h2 {
    margin: 15px 0 10px;
    font-size: 1.5rem;
}