*{
    margin: 0;
    box-sizing: border-box;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: 100px 100px 100px;
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: solid 1px black;
    background-color: lightsalmon;
    border-radius: 10px;
}